body { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    width: 100%;
    min-height: 100vh;
}

.container {
    width : 20rem;
    height : 20rem;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: red;
}

